#type iodriver, domain;
#type iodriver_exec, exec_type, file_type;

typeattribute iodriver coredomain;
typeattribute iodriver mlstrustedsubject;

permissive iodriver;

#type iodriver_data_file, file_type, data_file_type;


init_daemon_domain(iodriver);
unix_socket_connect(iodriver, property, init);

#domain_auto_trans(iodriver, iodriver_exec, su);
#allow iodriver system_data_file:file {open read write create};
#allow iodriver system_data_file:dir {open read write add_name remove_name rmdir execmod};

allow iodriver self:capability {setgid setuid };
allow iodriver self:unix_dgram_socket { create_socket_perms sendto };
allow iodriver self:unix_stream_socket { create_stream_socket_perms connectto };
dontaudit iodriver self:capability { fsetid net_raw };

allow iodriver system_prop:property_service set;
allow iodriver default_prop:property_service set;
allow iodriver powerctl_prop:property_service set;
allow iodriver ctl_default_prop:property_service set;
allow iodriver iodriver_boot_complete:property_service set;

allow iodriver socket_device:dir rw_dir_perms;

allow iodriver sysfs:dir r_dir_perms;
#allow iodriver sysfs_socinfo:dir r_dir_perms;
#allow iodriver sysfs_socinfo:file rw_file_perms;
#allow iodriver sysfs_data:file r_file_perms;

allow iodriver system_file:dir r_dir_perms;
allow iodriver tty_device:chr_file rw_file_perms;

allow iodriver sysfs_leds:dir r_dir_perms;
allow iodriver sysfs_leds:file rw_file_perms;
allow iodriver sysfs_leds:lnk_file read;
allow iodriver proc:dir rw_dir_perms;
allow iodriver proc:file rw_file_perms;

